table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 20px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  
  table, th, td {
    border:0px solid black;
    
  }
  h1 {
    color: cornflowerblue;
    margin-left: 20px;
  }
  input, button {
    margin-left:12px;
  }